<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="anketaDao" class="spring.dao.AnketaDaoSimple">
        <constructor-arg name="filePath" value="src/main/resources/StudentAnketa.csv"/>
    </bean>

    <bean id="anketaService" class="spring.service.AnketaServiceImpl">
        <constructor-arg name="dao" ref="anketaDao"/>
    </bean>

</beans>
